.row {
    display: flex;
  }
  .row > div {
    flex: 1;
    background: white;
    border: 1px solid grey;
  }

  div.grass {
    background: rgba(61, 194, 61, 0.637);
  }
  div.dirt {
    background: rgba(90, 40, 40, 0.602);
  }